<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.milamix.wondercal">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <permission
        android:name="my.package.name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="my.package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WonderCal"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Page.MainPage.Search.AddMenuActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Page.MealPage.MealActivity"
            android:exported="true" />
        <activity
            android:name=".Page.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Page.UserinfoPage.LoadingUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Page.UserinfoPage.UserInfoActivity"
            android:exported="true" />
        <activity
            android:name=".Page.ForgotPage.ForgotActivity"
            android:exported="true" />
        <activity
            android:name=".Page.LoginPage.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Page.MainPage.Setting.ContactActivity"
            android:exported="true" />
        <activity
            android:name=".Page.LandingPage.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Page.UserinfoPage.UploadImageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Page.RegisterPage.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Page.MainPage.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Page.MainPage.Restaurant.RestaurantdetailActivity"
            android:exported="true" />
    </application>

</manifest>